<div class="page-header">

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Held on:</dt>
      <dd><%= @interview.held_on.strftime('%B %e, %Y') %></dd>

      <dt>Name:</dt>
      <dd><%= @interview.name %></dd>

      <dt>Company:</dt>
      <dd><%= @interview.company %></dd>

      <dt>Interviewer:</dt>
      <dd><%= @interview.user.email %></dd>

      <dt>Persona:</dt>
      <dd><%= @interview.persona.name %></dd>

      <dt>Notes:</dt>
      <dd><%= @interview.notes %></dd>


    </dl>
    <div class="btn-group btn-group-justified">
      <%= link_to interviews_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Back
      <% end %>
      <%= link_to edit_interview_path(@interview), :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Edit
      <% end %>
    </div>

  </div>


  <ul class="list-group">
    <% @interview.persona.questions.each do |question| %>
      <li class="list-group-item">
        <h3><%= question.body %></h3>
        <%= form_for question.answers.build :interview => @interview do |f| %>
          <div class="form-group">
            <%= f.label :body, :class => "sr-only" %>
            <%= f.text_area :body, :class => "form-control", :placeholder => "Capture an answer" %>
          </div>
          <div class="form-group">
            <%= f.label :insight, :class => "sr-only" %>
            <%= f.text_area :insight, :class => "form-control", :placeholder => "Capture an insight" %>
          </div>
          <div class="form-group">
            <%= f.label :image, :class => "sr-only" %>
            <%= f.file_field :image, :class => "form-control" %>
          </div>

          <%= f.submit "Add", :class => "btn btn-success btn-block" %>
        <% end %>
      </li>
    <% end %>
  </ul>


</div>
