<div class="page-header">
  <%= link_to interviews_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_interview_path(@interview), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show interview</h1>
</div>

<dl class="dl-horizontal">
  <dt>Held on:</dt>
  <dd><%= @interview.held_on %></dd>

  <dt>Name:</dt>
  <dd><%= @interview.name %></dd>

  <dt>Company:</dt>
  <dd><%= @interview.company %></dd>

  <dt>Interviewer:</dt>
  <dd><%= @interview.user.email %></dd>

  <dt>Persona:</dt>
  <dd><%= @interview.persona.name %></dd>

  <dt>Notes:</dt>
  <dd><%= @interview.notes %></dd>

</dl>

<ul>
  <% @interview.persona.questions.each do |question| %>
    <li>
      <%= question.body %>
      <%= form_for question.answers.build :interview => @interview do |f| %>
        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, :class => "form-control", :placeholder => "Capture an answer" %>
        </div>
        <div class="form-group">
          <%= f.label :insight %>
          <%= f.text_area :insight, :class => "form-control", :placeholder => "Capture an insight" %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, :class => "form-control" %>
        </div>

        <%= f.submit "Add", :class => "btn btn-success" %>
      <% end %>
    </li>
  <% end %>
</ul>

